@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4e7f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Arimo", Arial, sans-serif;
}

.background-blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.8;
}

.blob-1 {
  width: 500px;
  height: 500px;
  background: #ffd4b8;
  top: -100px;
  left: -150px;
}

.blob-2 {
  width: 400px;
  height: 400px;
  background: #ffd4b8;
  top: -50px;
  right: -100px;
}

.blob-3 {
  width: 600px;
  height: 600px;
  background: #b6bcf5;
  bottom: -150px;
  right: -150px;
}

.blob-4 {
  width: 300px;
  height: 300px;
  background: #e8c8e6;
  bottom: 50px;
  left: -50px;
}

.glass-container {
  width: 90%;
  height: 90vh;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a6a;
  font-size: 1.5rem;
}

aside {
  /* background: rgba(255, 255, 255, 0.47); */
  overflow: hidden;
  width: 25%;
  height: 100%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);

  padding: 20px;
}

.main-content {
  padding: 20px;
  width: 75%;
  height: 100%;
}

.open-aside {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.47);
  backdrop-filter: blur(20px);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1); */
  -webkit-backdrop-filter: blur(20px);
  cursor: pointer;
  transition: transform 0.15s ease;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.open-aside:hover {
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
}

.open-aside:active {
  background-color: rgba(255, 255, 255, 0.6);
}

/* open-aside animation */
/* @keyframes open-aside-anime {
  0% {
    transform: translateY(-50%) scale(1);
  }
  100% {
    transform: translateY(-50%) scale(1.08);
  }
} */

.open-aside div {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  transform: translateX(25%);
}

.material-symbols-outlined {
  font-size: 40px;
  color: #7d7aa3;
  font-weight: 200;
}
