@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #313871;
  --secondary-color: #31387156;
  --third-color: #ff717c;
}

body {
  background-color: #e4e7f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Roboto Condensed", Arial, sans-serif;
}

.background-blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  z-index: -1;
  opacity: 0.8;
}

.blob-1 {
  width: 500px;
  height: 500px;
  background: #ffd4b8;
  top: -100px;
  left: -150px;
}

.blob-2 {
  width: 400px;
  height: 400px;
  background: #ffd4b8;
  top: -50px;
  right: -100px;
}

.blob-3 {
  width: 600px;
  height: 600px;
  background: #b6bcf5;
  bottom: -150px;
  right: -150px;
}

.blob-4 {
  width: 300px;
  height: 300px;
  background: #e8c8e6;
  bottom: 50px;
  left: -50px;
}

.glass-container {
  position: relative;
  width: 90%;
  height: 90vh;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a6a;
  font-size: 1.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 25%;
  height: 100%;
  padding: 20px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  transform: translateX(0);
  transition:
    width 0.4s ease,
    padding 0.4s ease;
}

.sidebar.collapsed {
  width: 0;
  padding: 0;
  border: none;
}

.main-content {
  padding: 20px;
  width: 75%;
  height: 100%;
  transition: width 0.4s ease;
}

.sidebar.collapsed ~ .main-content {
  width: 100%;
}

.open-aside {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);

  width: 24px;
  height: 48px;

  border-radius: 0 12px 12px 0;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: none;

  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  z-index: 100;

  transition:
    left 0.4s ease,
    background-color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.open-aside:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.open-aside span {
  font-size: 20px;
  color: #4a4a6a;
  transition: transform 0.4s ease;
}

.sidebar.collapsed + .open-aside {
  left: 0;
}

.sidebar.collapsed + .open-aside span {
  transform: rotate(180deg);
}

.icon-lg {
  font-size: 30px;
  color: var(--header-color);
  font-weight: bold;
}

.icon-sm {
  font-size: 40px;
  color: #7d7aa3;
  font-weight: 200;
  transition: transform 0.4s ease;
}

.sidebar.collapsed + .open-aside .icon-sm {
  transform: rotate(180deg);
}
.container-brandlogo-main,
.container-brandlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  color: var(--header-color);
  font-size: 30px;
  font-weight: bold;
  transition: transform 0.4s ease;
  margin-bottom: 20px;
}

.container-brandlogo-main:hover,
.container-brandlogo:hover {
  transform: scale(1.1);
}

.container-brandlogo-main {
  opacity: 1;
  transition: all 0.2s ease;
}

.container-brandlogo-main.visible {
  opacity: 0;
}

.list-container-main {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--header-color);
  /* font-size: 30px; */
  /* font-weight: bold; */
}

.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: transform 0.4s ease;
}

.search-container:hover {
  transform: scale(1.1);
}

.basket {
  display: flex;
  align-items: center;
}

.search-container {
  border: 2px solid var(--header-color);
  border-radius: 10px;
  padding: 2px 10px;
  transition: 0.4s ease;
}

.search-input {
  outline: none;
  background: none;
  border: none;
  color: var(--header-color);
  font-weight: 600;
  font-size: 15px;
  transition: 0.4s ease;
}

.search-container:focus-within {
  background: var(--secondary-color);
}

.basket-count {
  position: relative;
  top: -10px;
  left: -10px;
  background: var(--third-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.list-container-main li {
  cursor: pointer;
  transition:
    color 0.2s ease,
    transform 0.4s ease;
}

.list-container-main li:hover {
  color: var(--third-color);
  transform: scale(1.1);
}

.header-aside {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 5px;
  font-weight: normal;
  font-size: 20px;
  color: var(--header-color);
  margin-bottom: 10px;
  padding: 5px 10px;

  /* background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px; */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);  */

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.header-aside:hover {
  transform: scale(1.1);
}

.header-aside-content {
  font-size: 20px;
  /* font-weight: normal; */
  font-weight: 600;
}

.category-icon {
  font-size: 20px;
  /* font-weight: normal; */
  font-weight: 600;
}

.list-container-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.catagory-list {
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--header-color);
  margin-bottom: 10px;
  padding: 5px 10px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;

  padding: 5px 10px;
  margin: 0;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.catagory-list:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
}
.category-text,
.list-icon {
  font-size: 15px;
}
